.nav-container {
    display: flex; /* Para que los elementos se alineen en línea */
    align-items: center; /* Para alinear verticalmente los elementos en el centro */
    background-color: transparent;
}

.nav-container h1 {
    margin-right: 20px; /* Para agregar espacio entre el título y la lista de destinos */
}

.nav-container ul {
    list-style-type: none; /* Para quitar los estilos de lista predeterminados */
    margin: 0;
    padding: 0;
}

.nav-container ul li {
    display: inline; /* Para que los elementos de la lista estén en línea */
}

.nav-container ul li:not(:last-child) {
    margin-right: 10px; /* Para agregar espacio entre los elementos de la lista */
}

.nav-container ul li a {
    text-decoration: none; /* Para quitar el subrayado de los enlaces */
    color: black; /* Cambia el color del texto */
}

.nav-container ul li a:hover {
    text-decoration: underline; /* Subraya los enlaces al pasar el mouse */
}
